h3{
    color: red;
}

.btn{
    padding: 20px;
    background-color: pink;
    border-radius: 50% 10%;
    border: none;
    color: blueviolet;
    font-size: 30px;
    font-weight: 700;

}
.tuni{
    padding: 30px;
    background-color:brown;
    border-radius:  12px 50px ;
    border: none;
    color:olive;
    font-size:45px ;
    font-weight: 700;
    margin-top: 40px;
}